# Common Node.js Files
node_modules
.env.*

# Next.js Build Output
apps/site/.next
apps/site/build
apps/site/public/blog-data.json

# Distributed Files
dist

# Playwright
playwright-report
test-results

# Storybook
.nyc_output
storybook-static
build-storybook.log

# Test Runner
junit.xml
lcov.info

# Vercel Files
.turbo
.vercel
cache

# Cache Files
.eslintmdcache
.prettiercache
.stylelintcache

# TypeScript
tsconfig.tsbuildinfo
dist/

# Cloudflare Build Output
apps/site/.open-next
apps/site/.wrangler

# macOS Files
.DS_Store

# Other Files
.env
