# Common Node.js Files
node_modules

# Next.js Build Output
.next

# Public Folders
apps/site/public

# Storybook
.nyc_output
storybook-static
build-storybook.log

# Test Runner
junit.xml
lcov.info

# Vercel Files
.turbo
.vercel

# Cache Files
.eslintmdcache
.prettiercache
.stylelintcache

# Metadata Files
.github/CODEOWNERS

# Prettier's Handlebar parser is limited and chokes on some syntax features.
# https://github.com/prettier/prettier/issues/11834
scripts/release-post/template.hbs
